<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- FILE APPENDER -->
        <File name="CinemaLog" fileName="logs/File.log">
            <PatternLayout pattern="File Appender: %d %p %c{2} %m%n" />
        </File>
    </Appenders>
    <Loggers>
        <!-- LOGGER -->
        <Logger name="ru.job4j.cinema.repository" level="info">
            <AppenderRef ref="CinemaLog" />
        </Logger>
        <Root level="info"></Root>
    </Loggers>
</Configuration>