<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/headerCinema :: header"></head>
<body>
    <div th:replace="fragments/navigationCinema :: navigation"></div>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Creation Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie: ${movies}">
                    <td th:text="${movie.id}" />
                    <td>
                        <a th:text="${movie.name}" th:href="@{/movies/{id}(id=${movie.id})}">
                        </a>
                    </td>
                    <td th:text="${movie.year}" />
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<footer th:include="fragments/footerCinema :: footer"></footer>
</body>
</html>