<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/headerCinema :: header"></head>
<body>
<div th:replace="fragments/navigationCinema :: navigation"></div>
<div class="container">
    <div class="row">
        <div>

        </div>
        <div>
            This web site provide means to buy a ticket for a selected movie.
            Proceed to "session" to view the list of movies and purchase the ticket.
        </div>
    </div>
</div>
<footer th:include="fragments/footerCinema :: footer"></footer>
<div>Project Cinema, implemented per Job For Java course</div>
</body>
</html>